@import './github-markdown.scss';

h2 {
  padding-bottom: 12px;
}

.root {
  background-color: white;
  padding: 16px;
  min-height: 100%;
}

.header {
  text-align: center;
  img {
    vertical-align: text-top;
    width: 34px;
    height: 34px;
  }
  border-bottom: 1px dashed #e3e3e3;
  margin-bottom: 12px;
}

.tabs {
  font-size: 16px
}

p {
  padding-bottom: 12px;
}

table {
  width: 100%;
}

tr.repo {
  td {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

tr.active  {
  border: 1px solid #b3e2ff;
  padding: -1px;
    
  td {
    background-color: #e9f4fb;
  }
}

